<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII ART GENERATOR</title>
</head>
<body>
    <h1>ASCII ART GENERATOR</h1>
    <form action="/ascii-art"; method="post">
        <label for="text">Enter text:</label>
        <br>
        <textarea name="text" id="text"></textarea>
        <br><br>
        <label for="banner">select banner style:</label>
        <br>
        <select name="banner" id="banner">
            <option value="shadow">shadow</option>
            <option value="standard">standard</option>
            <option value="thinkertoy">thinkertoy</option>
        </select>
        <br><br>
        <button type="submit">Generate</button>

    </form>

</body>
</html>